
/Contactly/.vs/Contactly/CopilotIndices/0.2.1657.32929
/Contactly/.vs/Contactly/CopilotIndices/0.2.1657.32929
*.cache
*.cache
*.cache
*.cache
*.cache
Contactly/Contactly/obj/Debug/net8.0/Contactly.AssemblyInfoInputs.cache
Contactly/Contactly/obj/Debug/net8.0/Contactly.AssemblyInfoInputs.cache
/Contactly/Contactly/obj/Debug/net8.0
*.cache
Contactly/.vs/Contactly/FileContentIndex/450a0e79-e6c2-462e-8e77-481daab903ce.vsidx
Contactly/Contactly/obj/Debug/net8.0/Contactly.AssemblyInfo.cs
Contactly/Contactly/obj/Debug/net8.0/Contactly.AssemblyInfoInputs.cache
/Contactly/.vs/Contactly/FileContentIndex
*.cache
*.v2
/Contactly/.vs/Contactly/CopilotIndices
/Contactly/.vs/Contactly/FileContentIndex
*.cache
/Contactly/.vs/Contactly/config
/Contactly/.vs/Contactly/v17
/Contactly/.vs/Contactly/v17
/Contactly/Contactly/bin/Debug/net8.0
/Contactly/.vs/Contactly/v17
/Contactly/.vs/Contactly/v17
/Contactly/Contactly/obj/Debug/net8.0
*.cache
